@import config.AppConfig
@import views.html.templates.PrincipalMainTemplate

@this(
        mainTemplate: PrincipalMainTemplate
)(
        implicit appConfig: AppConfig
)

@()(implicit request: Request[_], messages: Messages)

@mainTemplate(
    title = messages("claim-enrolment.not-subscribed.heading")
) {

    <h1 class="govuk-heading-xl">@messages("claim-enrolment.not-subscribed.heading")</h1>

    <p class="govuk-body">
        @messages("claim-enrolment.not-subscribed.info")
        <a class="govuk-link" href="@{appConfig.btaUrl}">@messages("claim-enrolment.not-subscribed.info.link-text")</a>
    </p>

}
