@import forms.PropertyIncomeForm
@import helpers.{radioHelper, _}
@import play.api.data.Form
@import uk.gov.hmrc.play.views.html.helpers.form
@(propertyIncomeForm: Form[PropertyIncomeModel], postAction: Call)(implicit request: Request[_], messages: Messages)

@question = @{
    Messages("property.income.heading")
}

@views.html.templates.main_template(title = Messages("property.income.title"), bodyClasses = None) {
    @back_link()

    @summaryErrorHelper(propertyIncomeForm)

    <h1>@question</h1>

    <p>@Messages("property.income.line_1")</p>

    @form(action = postAction) {
        @radioHelper(
            field = propertyIncomeForm(PropertyIncomeForm.incomeValue),
            legend = question,
            options = Seq(
                RadioOption(PropertyIncomeForm.option_LT10k, Messages("property.income.lt10k")),
                RadioOption(PropertyIncomeForm.option_GE10k, Messages("property.income.ge10k"))
            ),
            parentForm = propertyIncomeForm
        )

        @continueButton()

    }

}
