.banner-panel {
    display: none;
    background-color: #dee0e2;
    color: #0b0c0c;
}

.banner-panel--show {
    display: block;
}

.banner-panel__container {
    padding: 10px 2.78947em 20px;
    position: relative;
}

.banner-panel a {
    color: #0b0c0c;
}

.banner-panel__title {
    font-size: 16px;
    font-weight: 700;
    position: relative;
    right: 15px;
    line-height: 1.25;
    /*margin-bottom: 0px;*/
}

.banner-panel__line {
    font-size: 14px;
    position: relative;
    right: 15px;;
    /*font-weight: 600;*/
    /*margin-top: 0px;*/
}

.banner-panel__close {
    color: #fff;
    font-size: 14px;
    position: absolute;
    right: 25px;
    bottom: 5px;
}

.banner-panel__small-copy {
    display: inline-block;
    font-size: 14px;
}

.notice-banner__wrapper a:visited {
    color: #fff;
}

@media (min-width: 641px) {

    .banner-panel__title {
        font-size: 19px;
        left: 0%;
        /*margin-bottom: 0px;*/
    }

    .banner-panel__line {
        left: 0px;
        font-size: 16px;
        font-weight: 400;
    }

    .banner-panel__close {
        color: #fff;
        font-size: 16px;
        position: absolute;
        right: 65px;
        top: 10px;
    }
    .banner-panel__container {
        padding: 10px 2.78947em;
        position: relative;
    }

}