input[type=radio]
{
    margin-left: -5px;
    width: 29px;
    height: 29px;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.govuk-panel--confirmation {
    text-align: center;
    color: #FFFFFF;
    background: #00703C;
    padding: 35px;
    margin: 0 0 15px;
}

.govuk-panel--confirmation {
    text-align: center;
    color: #FFFFFF;
    background: #00703C;
    padding: 35px;
    margin: 0 0 15px;
}

.govuk-check-your-answers {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.cya-question, .cya-answer {
    overflow-wrap: break-word;
}

@media (min-width: 40.0625em) {
    .cya-question {
        width: 30%;
    }

    .cya-answer {
        width: 50%;
    }

    .cya-change {
        width: 20%;
    }
}

.govuk-summary-list {
    font-weight: 400;
    line-height: 1.25;
    margin: 0 0 20px;
}

@media (min-width: 40.0625em) {
    .govuk-summary-list {
        line-height: 1.31579
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-list {
        display:table;
        width: 100%;
        table-layout: fixed
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-list {
        margin-bottom:30px
    }
}

@media (max-width: 40.0525em) {
    .govuk-summary-list__row {
        margin-bottom:15px;
        border-bottom: 1px solid #b1b4b6
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-list__row {
        display:table-row
    }
}

.govuk-summary-list__key,.govuk-summary-list__value,.govuk-summary-list__actions {
    margin: 0
}

@media (min-width: 40.0625em) {
    .govuk-summary-list__key,.govuk-summary-list__value,.govuk-summary-list__actions {
        display:table-cell;
        padding-right: 20px
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-list__key,.govuk-summary-list__value,.govuk-summary-list__actions {
        padding-top:10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #b1b4b6
    }
}

.govuk-summary-list__actions {
    margin-bottom: 15px
}

@media (min-width: 40.0625em) {
    .govuk-summary-list__actions {
        width:20%;
        padding-right: 0;
        text-align: right
    }
}

.govuk-summary-list__key,.govuk-summary-list__value {
    word-wrap: break-word;
    overflow-wrap: break-word
}

.govuk-summary-list__key {
    margin-bottom: 5px;
    font-weight: 700
}

@media (min-width: 40.0625em) {
    .govuk-summary-list__key {
        width:30%
    }
}

@media (max-width: 40.0525em) {
    .govuk-summary-list__value {
        margin-bottom:15px
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-list__value {
        width:50%
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-list__value:last-child {
        width:70%
    }
}

.govuk-summary-list__value>p {
    margin-bottom: 10px
}

.govuk-summary-list__value>:last-child {
    margin-bottom: 0
}

.govuk-summary-list__actions-list {
    width: 100%;
    margin: 0;
    padding: 0
}

.govuk-summary-list__actions-list-item {
    display: inline;
    margin-right: 10px;
    padding-right: 10px
}

.govuk-summary-list__actions-list-item:not(:last-child) {
    border-right: 1px solid #b1b4b6
}

.govuk-summary-list__actions-list-item:last-child {
    margin-right: 0;
    padding-right: 0;
    border: 0
}

@media (max-width: 40.0525em) {
    .govuk-summary-list--no-border .govuk-summary-list__row {
        border:0
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-list--no-border .govuk-summary-list__key,.govuk-summary-list--no-border .govuk-summary-list__value,.govuk-summary-list--no-border .govuk-summary-list__actions {
        padding-bottom:11px;
        border: 0
    }
}

@media (max-width: 40.0525em) {
    .govuk-summary-list__row--no-border {
        border:0
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-list__row--no-border .govuk-summary-list__key,.govuk-summary-list__row--no-border .govuk-summary-list__value,.govuk-summary-list__row--no-border .govuk-summary-list__actions {
        padding-bottom:11px;
        border: 0
    }
}


.flash.error-summary a {
    color: #d4351c
}

.error-summary {
    border: 5px solid #d4351c;
}

@media (min-width: 641px) {
    .error-notification {
        font-size: 19px !important
    }
}

.error-notification {
    color: #d4351c;
    font-weight: 700 !important
}

#global-header .header-proposition a.menu {
    display: none;
}
.js-enabled #global-header .header-proposition #proposition-links {
    display: block;
}

.hmrc-language-select:after {
    content:"";
    display:block;
    clear:both
}
.hmrc-language-select__list {
    margin-top:1em;
    float:right;
    text-align:right;
}
.hmrc-language-select__list-item {
    display:inline-block;
}
.hmrc-language-select__list-item:first-child:after {
    content:"";
    display:inline-block;
    position:relative;
    top:.1875em;
    height:1em;
    border-right:.09375em solid #0b0c0c
}
.hmrc-language-select__list-item [aria-current],
.hmrc-language-select__list-item a {
    padding:.3125em
}
