input[type=checkbox]
{
  width:29px;
  height:29px;
  margin-left:-5px;
}

input[type=radio]
{
    position: absolute;
    top: 30px;
    left: 10px;
    cursor: pointer;
    margin: 0;
    width: 29px;
    height: 29px;
}