input[type=radio]
{
    margin-left: -5px;
    width: 29px;
    height: 29px;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.govuk-panel--confirmation {
    text-align: center;
    color: #FFFFFF;
    background: #00703C;
    padding: 35px;
    margin: 0 0 15px;
}
