@import play.api.data.Form
@import models._
@import forms.AccountingPeriodForm._
@import helpers._
@import uk.gov.hmrc.play.views.html.helpers.form
@import config.AppConfig
@import models.enums.{AccountingPeriodViewType, CurrentAccountingPeriodView}

@(accountingPeriodForm: Form[AccountingPeriodModel], postAction: Call, backUrl: String, viewType: AccountingPeriodViewType, isEditMode: Boolean)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@views.html.templates.main_template(title = Messages("accounting_period.title"), bodyClasses = None) {
    @back_link(backUrl)

    @summaryErrorHelper(accountingPeriodForm)

    <h1 class="heading-xlarge">
        @if(viewType == CurrentAccountingPeriodView) {
            @Messages("accounting_period.heading.current")
        } else {
            @Messages("accounting_period.heading.next")
        }
    </h1>

    <p>@Messages("accounting_period.line_1")</p>

    @form(action = postAction) {

        @dateHelper(
            field = accountingPeriodForm(startDate),
            label = Messages("base.startDate"),
            parentForm = accountingPeriodForm,
            hintText = Messages("base.exampleDate")
        )

        @dateHelper(
            field = accountingPeriodForm(endDate),
            label = Messages("base.endDate"),
            parentForm = accountingPeriodForm,
            hintText = Messages("base.exampleDate")
        )

        @if(isEditMode) {
            @continueButton(Messages("base.update"))
        } else {
            @continueButton()
        }

    }
}
