@import play.api.data.Form
@import models._
@import forms.AccountingPeriodForm._
@import helpers._
@import uk.gov.hmrc.play.views.html.helpers.form

@(accountingPeriodForm: Form[AccountingPeriodModel], postAction: Call)(implicit request: Request[_], messages: Messages)

@views.html.templates.main_template(title = Messages("accounting_period.title"), bodyClasses = None) {

    @summaryErrorHelper(accountingPeriodForm)

    <h1>@Messages("accounting_period.heading")</h1>

    @form(action = postAction) {

        @dateHelper(
            field = accountingPeriodForm(startDate),
            label = Messages("base.startDate"),
            parentForm = accountingPeriodForm,
            hintText = Messages("base.exampleDate")
        )

        @dateHelper(
            field = accountingPeriodForm(endDate),
            label = Messages("base.endDate"),
            parentForm = accountingPeriodForm,
            hintText = Messages("base.exampleDate")
        )

        @accordionHelper(Messages("base.where_can_i_get_this_information"),Html(""))

        @continueButton()

    }
}
