@import models._
@import forms.BusinessNameForm._
@import helpers._
@import uk.gov.hmrc.play.views.html.helpers.form

@(businessNameForm: Form[BusinessNameModel], postAction: Call)(implicit request: Request[_], messages: Messages)

@views.html.templates.main_template(title = Messages("business.name.title"), bodyClasses = None) {

    @summaryErrorHelper(businessNameForm)

    <h1>@Messages("business.name.heading")</h1>

    @form(action = postAction) {

        @inputHelper(
            field = businessNameForm(businessName),
            formHint = Messages("business.name.hint"),
            maxLength = 40
        )

        @continueButton()

    }
}
