@import models._
@import forms.BusinessNameForm._
@import helpers._
@import uk.gov.hmrc.play.views.html.helpers.form
@import config.AppConfig

@(businessNameForm: Form[BusinessNameModel], postAction: Call, backUrl: String, isEditMode: Boolean)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@views.html.templates.main_template(title = Messages("business.name.title"), bodyClasses = None) {
    @back_link(backUrl)

    @summaryErrorHelper(businessNameForm)

    <h1 class="heading-xlarge">@Messages("business.name.heading")</h1>

    <p>@Messages("business.name.line_1")</p>

    @form(action = postAction) {

        @inputHelper(
            field = businessNameForm(businessName),
            label = Messages("business.name.heading"),
            labelClass = "visuallyhidden",
            maxLength = businessNameMaxLength,
            parentForm = businessNameForm
        )

        @if(isEditMode) {
            @continueButton(Messages("base.update"))
        } else {
            @continueButton()
        }
    }
}
