@import models.IncomeTypeModel
@import play.api.data.Form
@import forms.IncomeTypeForm
@import helpers.radioHelper

@(form: Form[IncomeTypeModel])(implicit request: Request[_], messages: Messages)

@question = @{Messages("sar.business.income-type.h1")}

@views.html.templates.main_template(title = Messages("sar.business.income-type.title"), bodyClasses = None) {
    <h1>@question</h1>

    @radioHelper(
        field = form(IncomeTypeForm.incomeType),
        legend = question,
        options = Seq("Cash", "Accruals")
    )

}
