@import models.IncomeTypeModel
@import play.api.data.Form
@import forms.IncomeTypeForm
@import helpers.radioHelper
@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._
@import config.AppConfig

@(incomeTypeForm: Form[IncomeTypeModel], postAction: Call, backUrl: String)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@question = @{
    Messages("business.income_type.heading")
}

@views.html.templates.main_template(title = Messages("business.income_type.title"), bodyClasses = None) {
    @back_link(backUrl)

    @summaryErrorHelper(incomeTypeForm)

    <h1>@question</h1>

    <p>@Messages("business.income_type.line_1")</p>

    @form(action = postAction) {

        @radioHelper(
            field = incomeTypeForm(IncomeTypeForm.incomeType),
            legend = question,
            options = Seq(
                RadioOption(IncomeTypeForm.option_accruals, Messages("business.income_type.accruals")),
                RadioOption(IncomeTypeForm.option_cash, Messages("business.income_type.cash"))
            ),
            parentForm = incomeTypeForm
        )

        @continueButton()

    }

}
