@import models.SoleTraderModel
@import play.api.data.Form
@import forms.SoleTraderForm
@import helpers.radioHelper
@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._

@(soleTraderForm: Form[SoleTraderModel], postAction: Call, backUrl: String)(implicit request: Request[_], messages: Messages)

@question = @{
    Messages("business.sole_trader.heading")
}

@views.html.templates.main_template(title = Messages("business.sole_trader.title"), bodyClasses = None) {
    @back_link(backUrl)

    @summaryErrorHelper(soleTraderForm)

    <h1>@question</h1>

    <p>@Messages("business.sole_trader.line_1")</p>

    @form(action = postAction) {

        @radioHelper(
            field = soleTraderForm(SoleTraderForm.soleTrader),
            legend = question,
            options = Seq(
                RadioOption(SoleTraderForm.option_yes, Messages("business.sole_trader.yes")),
                RadioOption(SoleTraderForm.option_no, Messages("business.sole_trader.no"))
            ),
            parentForm = soleTraderForm
        )

        @continueButton()

    }

}
