@import play.api.data.Field
@(field: Field,
    label: String,
    parentForm: Option[Form[_]] = None
)(implicit messages: Messages)

@import forms.validation.ErrorMessageHelper._

@isChecked = @{
    field.value.map {
        case "true" => Html(s"""checked="checked"""")
        case _ => Html("")
    }
}

@hasError = @{
    val fieldError = getFieldError(field, parentForm)
    fieldError match {
        case Some(_) => true
        case _ => false
    }
}

<div class="form-group form-field@if(hasError) { form-field--error}">
    @fieldErrorHelper(field, parentForm)
    <label class="block-label selection-button-checkbox" for="@{field.name}">
        <input id="@{field.name}" name="@{field.name}" type="checkbox" value="true" @isChecked>
        @label
    </label>
</div>
