@import play.api.data.Form
@import play.api.data.Field
@import forms.submapping.DateMapping._

@(field: Field,
        label: Option[String] = None,
        hintText: Option[String] = None,
        parentForm: Option[Form[_]] = None
)(implicit messages: Messages)

@import forms.validation.ErrorMessageHelper._

@hasError = @{
    val fieldError = getFieldError(field, parentForm)
    fieldError match {
        case Some(_) => true
        case _ => false
    }
}

<div class="form-group form-field@if(hasError) { form-field--error}">
    <fieldset id="@field.name">
        <legend>
            <span class="form-label-bold">@label</span>
            @hintText.map(hint => Html(s"""<span class="form-hint">$hint</span>"""))
            @fieldErrorHelper(field, parentForm)
        </legend>
            <div class="form-date">
                @inputHelper(
                    field(dateDay),
                    label = Messages("base.day"),
                    maxLength = 2
                )
                @inputHelper(
                    field(dateMonth),
                    label = Messages("base.month"),
                    maxLength = 2
                )
                @inputHelper(
                    field(dateYear),
                    label = Messages("base.year"),
                    maxLength = 4
                )
            </div>
    </fieldset>
</div>
