@import play.api.data.Form
@import play.api.data.Field
@(field: Field,
        label: Option[String] = None,
        parentForm: Option[Form[_]] = None,
        formHint: Option[String] = None,
        maxLength: Option[Int] = None
)(implicit messages: Messages)

@import forms.validation.ErrorMessageHelper._

@hintText(hint: String) = {
    <span class="form-hint">
    @hint
    </span>
}

@hasError = @{
    val fieldError = getFieldError(field, parentForm)
    fieldError match {
        case Some(_) => true
        case _ => false
    }
}

<div class="form-group form-field@if(hasError) { form-field--error}">
    <label class="form-label" for=@field.name>
        @label.fold(Html(""))(label => Html(label))
        @formHint.fold(Html(""))(hint => hintText(hint))
        @fieldErrorHelper(field, parentForm)
    </label>

    <input name=@field.name class="form-control" id=@field.name type="text"
        @maxLength.fold(Html(""))(max => Html(s"maxlength=$max"))
        value="@field.value.fold("")(v => v)"
    >
</div>