@import play.api.data.Field

@(field: Field,
    legend: String,
    options: Seq[String],
    parentForm: Option[Form[_]] = None,
    inline: Boolean = false,
    fieldSetClass: Option[String] = None
)(implicit messages: Messages)

@import forms.validation.ErrorMessageHelper._

@fieldSetClassValue = @{
    (inline, fieldSetClass) match {
        case (false, _ )       => fieldSetClass.fold(Html(""))(cls => Html(s"""class="$cls""""))
        case (true, Some(cls)) => Html(s"""class="inline $cls"""")
        case _                 => Html(s"""class="inline"""")
    }
}

@isSelected(option: String) = {
    @field.value match {
        case Some(`option`) => {checked="checked"}
        case _ => {}
    }
}

@hasError = @{
    val fieldError = getFieldError(field, parentForm)
    fieldError match {
        case Some(_) => true
        case _ => false
    }
}

<div class="form-group form-field@if(hasError) { form-field--error}">
    <fieldset @fieldSetClassValue>
        <legend class="visuallyhidden" id="@field.name">@legend</legend>
        @fieldErrorHelper(field, parentForm)
        @for(option <- options) {
            <label class="block-label selection-button-radio" for="@{field.name}-@option">
                <input id="@{field.name}-@option" type="radio" name="@{field.name}" value="@option" @isSelected(option)>
                @option
            </label>
        }
    </fieldset>
</div>

