@import play.api.data.Form
@import play.api.data._

@(form: Form[_])(implicit messages: Messages)

@import forms.validation.ErrorMessageHelper._
@import forms.validation.models._

@errors = @{
    getSummaryErrors(form)
}

@errMsg(err: (String, SummaryError)) = {
    <li role="tooltip"><a href="#@err._1">@err._2.toText</a></li>
}

@if(form.hasErrors) {

    <div class="flash error-summary error-summary--show"
         id="error-summary-display"
         role="alert"
         aria-labelledby="error-summary-heading"
         tabindex="-1">
        <h2 id="error-summary-heading" class="h3-heading">@Messages("base.error_heading")</h2>
        <ul>
            @errors.map(errMsg)
        </ul>
    </div>

}
