$govuk-assets-path: "/report-quarterly/income-and-expenses/sign-up/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/report-quarterly/income-and-expenses/sign-up/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.app-reference-number {
  display: block;
  font-weight: bold;
}

.govuk-panel__body--secondary {
  @include govuk-font($size: 19);
}

.govuk-remove-business-link {
  float: right;
  clear: right;
  padding-top:0.5rem;
}

body:not(.js-enabled) {
  a.govuk-back-link[href*="javascript"], a.govuk-link[href*="javascript:"] {
    display: none;
  }
}

.client-details {
  background-color: govuk-colour("light-grey");
}

.boxout {
  border-style: solid;
  border-color: #0b0c0c;
  border-width: thin;
  padding: govuk-spacing(3);
  margin-bottom: govuk-spacing(2);
}

.boxout:first-child {
  margin-left: 0;
}

@media (min-width: 40.0625em) {
    .boxout {
      margin-left: govuk-spacing(2);
    }
    .row {
      display: flex;
    }
    .col {
      flex: 1;
    }
}

.print-link::before {
    content: url(../images/print-icon.svg);
    padding-right: 0.5em;
}

.print-link {
    border-style: solid;
    border-color: #0b0c0c;
    border-width: thin;
    padding: govuk-spacing(2);
    margin-bottom: govuk-spacing(2);
    display: table;
}

.print-link:focus {
    box-shadow: 0 0 #fd0, 0 4px #0b0c0c;
}
