$govuk-assets-path: "/report-quarterly/income-and-expenses/sign-up/assets/lib/govuk-frontend/dist/govuk/assets/";
$hmrc-assets-path: "/report-quarterly/income-and-expenses/sign-up/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/dist/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.govuk-panel__body--secondary {
  @include govuk-font($size: 19);
}

.client-details {
  background-color: govuk-colour("light-grey");
}

.app-task-list__pre-list {
  padding-left: 0;
  list-style: none;

  @include govuk-media-query($from: tablet) {
    padding-left: govuk-spacing(6);
  }
}

.app-task-list__post-list {
    padding-left: 0;
    margin-bottom: govuk-spacing(9);
    list-style: none;

    @include govuk-media-query($from: tablet) {
        padding-left: govuk-spacing(6);
    }
}

.app-task-list__post-list > a {
    font-size: 1rem;

    @include govuk-media-query($from: tablet) {
        font-size: 1.1875rem;
    }
}

.app-task-list__post-list-padding {
    padding-right: govuk-spacing(6)
}
