$govuk-assets-path: "/report-quarterly/income-and-expenses/sign-up/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/report-quarterly/income-and-expenses/sign-up/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.app-reference-number {
  display: block;
  font-weight: bold;
}

.govuk-remove-business-link {
  float: right;
  clear: right;
  padding-top:0.5rem;
}
