@import models._
@import forms.EmailForm._
@import helpers._
@import uk.gov.hmrc.play.views.html.helpers.form
@import config.AppConfig

@(contactEmailForm: Form[EmailModel], postAction: Call, backUrl: String)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@views.html.templates.main_template(title = Messages("contact_email.title"), bodyClasses = None) {
    @back_link(backUrl)

    @summaryErrorHelper(contactEmailForm)

    <h1 class="heading-xlarge">@Messages("contact_email.heading")</h1>

    <p>@Messages("contact_email.line_1")</p>

    @form(action = postAction) {

        @inputHelper(
            field = contactEmailForm(emailAddress),
            maxLength = emailMaxLength,
            parentForm = contactEmailForm
        )

        @continueButton()

    }
}
