@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._
@import config.AppConfig

@(postAction: Call)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@views.html.templates.main_template(title = Messages("no-nino.title"), bodyClasses = None, showSignOutLink = false) {

    <h1 class="heading-large">@Messages("no-nino.heading")</h1>

    <div class = "form-group">
        <p>@Messages("no-nino.line_1")</p>
    </div>

    @form(action = postAction) {
        @signOutButton()
    }

}
