@import models.SummaryModel
@import helpers._
@import uk.gov.hmrc.play.views.html.helpers.form

@(summaryModel: SummaryModel, postAction: Call)(implicit request: Request[_], messages: Messages)

@summaryRow(field: String, question: String, answer: String, changeUrl: String) = {
    <hr>
    <div class="tabular-data__entry" id="@field-row">
        <div class="tabular-data__heading tabular-data__heading--label" id="@field-question">
        @question
        </div>
        <div class="tabular-data__data-1" id="@field-answer">
        @Html(answer)
        </div>
        <a class="tabular-data__data-2" href="@changeUrl" id="@field-edit">@Messages("base.change")</a>
    </div>
    <hr>

}

@accountingPeriod(period: AccountingPeriodModel) = @{
    val rowName = "accountingPeriod"
    val rowQuestion = Messages("summary.accounting_period")
    val periodInMonth = monthInBetween(period.startDate, period.endDate)
    val rowAnswer = s"${period.startDate.toOutputDateFormat} to ${period.endDate.toOutputDateFormat}</p>${Messages("summary.accounting_period.month", periodInMonth)}"
    val rowUrl = controllers.business.routes.BusinessAccountingPeriodController.showAccountingPeriod().url
    summaryRow(rowName, rowQuestion, rowAnswer, rowUrl)
}

@views.html.templates.main_template(title = Messages("summary.title"), bodyClasses = None) {
    <h1>@Messages("summary.heading")</h1>

    <div>
        @summaryModel.accountingPeriod.map(accountingPeriod)
    </div>

    @form(action = postAction) {
        <div class="form-group">
        @continueButton(Messages("base.submit"))
        </div>
    }
}