@import models.SummaryModel
@import helpers._
@import uk.gov.hmrc.play.views.html.helpers.form
@import config.AppConfig

@(summaryModel: SummaryModel, postAction: Call, backUrl: String)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)
@import SummaryIdConstants._
@import SummaryHelper._

@summaryRow(field: String, question: String, answer: String, changeUrl: String) = {
    <hr>
    <div class="tabular-data__entry" id="@field-row">
        <div class="tabular-data__heading tabular-data__heading--label" id="@field-question">
        @question
        </div>
        <div class="tabular-data__data-1" id="@field-answer">
        @Html(answer)
        </div>
        <a class="tabular-data__data-2" href="@changeUrl" id="@field-edit">@Messages("base.change")</a>
    </div>
}

@incomeSource(source: IncomeSourceModel) = @{
    val rowName = IncomeSourceId
    val rowQuestion = Messages("summary.income_source")
    val rowAnswer = incomeSourceText(source)
    val rowUrl = controllers.routes.IncomeSourceController.showIncomeSource(editMode = true).url
    summaryRow(rowName, rowQuestion, rowAnswer, rowUrl)
}

@accountingPeriod(period: AccountingPeriodModel) = @{
    val rowName = AccountingPeriodId
    val rowQuestion = Messages("summary.accounting_period")
    val periodInMonth = period.startDate.diffInMonth(period.endDate)
    val rowAnswer = s"${period.startDate.toOutputDateFormat} to ${period.endDate.toOutputDateFormat}</p>${Messages("summary.accounting_period.month", periodInMonth)}"
    val rowUrl = controllers.business.routes.BusinessAccountingPeriodController.showAccountingPeriod().url
    summaryRow(rowName, rowQuestion, rowAnswer, rowUrl)
}

@businessName(name: BusinessNameModel) = @{
    val rowName = BusinessNameId
    val rowQuestion = Messages("summary.business_name")
    val rowAnswer = name.businessName
    val rowUrl = controllers.business.routes.BusinessNameController.showBusinessName().url
    summaryRow(rowName, rowQuestion, rowAnswer, rowUrl)
}

@incomeType(income: IncomeTypeModel) = @{
    val rowName = IncomeTypeId
    val rowQuestion = Messages("summary.income_type")
    val rowAnswer = incomeTypeText(income)
    val rowUrl = controllers.business.routes.BusinessIncomeTypeController.showBusinessIncomeType().url
    summaryRow(rowName, rowQuestion, rowAnswer, rowUrl)
}

@contactEmail(email: EmailModel) = @{
    val rowName = ContactEmailId
    val rowQuestion = Messages("summary.contact_email")
    val rowAnswer = email.emailAddress
    val rowUrl = controllers.routes.ContactEmailController.showContactEmail().url
    summaryRow(rowName, rowQuestion, rowAnswer, rowUrl)
}

@terms(terms: TermModel) = @{
    if(terms.hasAcceptedTerms) {
        val rowName = TermsId
        val rowQuestion = Messages("summary.terms")
        val rowAnswer = Messages("summary.terms.agreed")
        val rowUrl = controllers.routes.TermsController.showTerms().url
        summaryRow(rowName, rowQuestion, rowAnswer, rowUrl)
    } else Html("")
}

@views.html.templates.main_template(title = Messages("summary.title"), bodyClasses = None) {
    @back_link(backUrl)

    <h1 class="heading-xlarge">@Messages("summary.heading")</h1>

    <div class="form-group">
    <p>@Html(Messages("summary.line_1"))</p>
    </div>

    <div class="form-group">
        @summaryModel.incomeSource.map(incomeSource)
        @summaryModel.accountingPeriod.map(accountingPeriod)
        @summaryModel.businessName.map(businessName)
        @summaryModel.incomeType.map(incomeType)
        @summaryModel.contactEmail.map(contactEmail)
        @summaryModel.terms.map(terms)
        <hr>
    </div>

    <h2 class="heading-medium">@Messages("summary.h2")</h2>
    <p>@Messages("summary.line_2")</p>

    <div class="form-group">
    @form(action = postAction) {
        @continueButton(Messages("base.submit"))
    }
    </div>

}