@import models._
@import forms.TermForm._
@import helpers.checkboxHelper
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(termsForm: Form[TermModel], postAction: Call)(implicit request: Request[_], messages: Messages)

@views.html.templates.main_template(title = Messages("terms.title"), bodyClasses = None) {

    <h1>@Messages("terms.heading")</h1>

    @form(action = postAction) {

        @checkboxHelper(
            field = termsForm(hasAcceptedTerms),
            label = "Read and agree"
        )

        @continueButton()

    }
}
